html, body {
  font-family: 'Heebo', sans-serif !important;
  font-weight: 300 !important;
  overflow: hidden;
}

.mdl-layout__content.portal-content {
  background: linear-gradient(60deg, rgb(37,3,63), rgba(33,17,92, 1)) !important;
    overflow: auto;
}

.bold {
  font-weight: 700;
}

.med {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.white-hr {
  background: rgb(255,255,255);
  display: block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0;
  margin-right: 0;
  width: 90%;
  border-style: solid;
}

.portal-header {
  background: linear-gradient(60deg, rgb(37,3,63), rgba(33,17,92, 1)) !important;
}

.portal-header header {
  height: 60px !important;
}

.portal-header .header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.portal-header header img.header-img {
  height: 50px;
  width: auto;
  margin-left: -30px;
}

.header-title {
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: 300;
}

.header-links a {
  font-size: 1.4em;
  font-weight: 200 !important;
}

.header-toolbar {
  position: fixed;
  z-index: 999;
  top: 200px;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(36,36,120);
  color: rgb(255,255,255);
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 10px;
  width: 60vw;
}

.header-items span {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0px 10px;
}

.header-spacer {
  padding-bottom: 75px;
}

.portal-content {
  background: rgb(255,255,255) !important;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid rgb(255,255,255);
  border-radius: 16px;
  margin: 20px;
  padding: 20px;
  animation: colorshift 10s ease infinite;
  background: linear-gradient(60deg, rgb(33,17,92), rgb(129, 2, 138));
  background-size: 180% 180%;
}

.login-box .at-form {
  color: rgb(255,255,255);
  font-family: 'Heebo', sans-serif !important;
  font-size: 1.2em;
  font-weight: 200;
}

.login-box .at-form, .login-box .at-form .at-pwd-form form,
.login-box .at-signup-link p, .login-box .at-signin-link p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .login-box .at-form .at-title, .login-box .at-form .at-input label {
   display: none;
 }

.login-box .at-form .at-input input {
  background: rgba(0,0,0,0);
  color: rgb(255,255,255);
  border: 0px;
  font-family: 'Heebo', sans-serif !important;
  font-weight: 200;
  font-size: 1.4em;
  margin: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: rgb(255,255,255);
}

::-webkit-input-placeholder {
  color: rgb(255,255,255);
}

.login-box .at-form .at-btn.submit {
  font-family: 'Heebo', sans-serif !important;
  font-weight: 200;
  font-size: 1.4em;
  color: rgb(255,255,255);
  border: 2px solid rgb(255,255,255);
  padding: 8px 20px;
  margin: 20px 0;
  border-radius: 30px;
  background: rgba(0,0,0,0);
}

.login-box .at-signup-link p, .login-box .at-signin-link p {
  font-family: 'Heebo', sans-serif !important;
  font-weight: 200;
  font-size: 1.2em;
}

.login-box .at-signup-link a, .login-box .at-signin-link a {
  font-family: 'Heebo', sans-serif !important;
  text-decoration: none;
  text-transform: capitalize;
  border: 2px solid rgb(255,255,255);
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 30px;
  color: rgb(255,255,255);
  font-weight: 200;
  font-size: 1.2em;
}

@keyframes colorshift {
  0%, 100% { background-position: 0% 50% }
  50% { background-position: 100% 100% }
}

@-webkit-keyframes colorshift {
  0%, 100% { background-position: 0% 50% }
  50% { background-position: 100% 100% }
}

@keyframes headershift {
  0%, 100% { background-position: 0% 50% }
  50% { background-position: 0% 20% }
}



.login-field .mdl-textfield__input, .login-field .mdl-textfield__label, .login-box h1, .search-field .mdl-textfield__input, .search-field .mdl-textfield__label {
  color: rgb(255,255,255);
}

.login-field .mdl-textfield__input:focus, .search-field .mdl-textfield__input:focus {
  border-bottom-color: rgb(255,255,255);
  box-shadow: 0 1px 0 0 rgb(255,255,255);
}

.search-field .mdl-textfield__input, .search-field .mdl-textfield__label {
  font-size: 1.6em;
}

.login-box h1 {
  font-weight: 200;
}

.login-field .mdl-textfield__label {
  font-family: 'Heebo', sans-serif !important;
  font-weight: 200 !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20vw;
}

.item-card {
  max-height: 400px;
  opacity: 0;
  transition: opacity 300ms ease, height 0s, max-height 600ms ease;
  -webkit-transition: opacity 300ms ease, height 0s, max-height 600ms ease;
}

.item-card.display {
  opacity: 1;
}

.item-card.toggled{
  max-height: 999px;
}

.card-contents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.info-contents {
  margin-bottom: 25px;
}

.info-contents.disabled {
  visibility: hidden;
  display: none;
}

.info-contents.enabled {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  visibility: visible;
}

.info-section {
  margin: 25px;
}

.info-section h4 {
  font-size: 2em;
}

.info-section p, .req-grid span {
  font-size: 1.1em;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0px 25px;
}

.card-section h3 {
  font-weight: 300 !important;
  font-size: 3em;
}

.card-section p {
  font-weight: 300;
  font-size: 1.1em;
}

.icons-section {
  width: 5vw;
}

.icons-section, .categories-section, .stats-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories-section, .icons-section {
  align-items: center;
}

.categories-section i:first-child {
  padding-top: 20px;
}

.stats-section {
  align-items: flex-start;
}

.stats-section span i, .stats-section #time {
  font-size: 0.8em;
}

.categories-section i, .stats-section span {
  margin: 5px 0px;
}

.categories-section i {
  font-size: 2em
}

.actions-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.actions-section button {
  margin-right: 20px;
}

.actions-section span {
  margin: 0px 5px;
}

.close-button {
  position: absolute !important;
  top: 5px;
  right: 5px;
}

.close-button div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-button, .download-button {
  position: absolute !important;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(255,255,255) !important;
}

.download-button {
  bottom: 20px;
  margin: 0px 25px !important;
}

.more-button i {
  margin: 0px 5px;
}

.wide-card {
  width: 60vw !important;
  color: rgb(255, 255, 255);
}

.grid-container, .search-container {
  margin: 0 50px;
  z-index: 2 !important;
}

.grid-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.grid-header h1 {
  font-weight: 200;
  color: rgb(255,255,255);
}

.grid-item {
  height: 400px;
  max-height: 400px;
}


.grid-item:hover .item-panel {
  background-color: rgba(20,20,20,0.75);
}

.item-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  color: rgb(255,255,255);
  background-color: rgba(0,0,0,0.75);
  position: relative;
  top: -200px;
  width: 100%;
  height: 200px;
  max-height: 200px;
  transition: background-color 300ms ease-in-out;
  -webkit-transition: background-color 300ms ease-in-out;
}


.panel-headers {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 20px;
}

.panel-headers span {
  font-size: 1.2em;
  font-weight: 300 !important;
  margin: 0 5px;
}


.panel-title {
  font-size: 2.4em;
  font-weight: 300 !important;
  margin: 10px 0;
}

.panel-details, .panel-tags, .panel-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.panel-actions {
  justify-content: space-between;
  width: 93%;
}

.panel-tags, .panel-details, .panel-description {
  margin: 0 20px;
}

.panel-description span {
  font-size: 1.4em;
  font-weight: 200;
}

 .panel-tags .mdl-chip, .panel-tags .tag-title {
   margin-right: 10px;
 }

 .panel-tags .mdl-chip, .detail-tags .mdl-chip {
   background: rgba(0,0,0,0);
   border: 2px solid;
   border-color: rgb(255,255,255);
   color: rgb(255,255,255);
 }

.panel-headers h4 {
  font-weight: 400;
}

.panel-headers span {
  font-weight: 200;
}

.panel-button {
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255, 1);
  border: 2px solid rgb(255,255,255);
  border-radius: 20px;
  padding: 6px 12px;
  font-family: 'Heebo', sans-serif !important;
  font-size: 1.2em;
  font-weight: 300;
  transition: background-color 400ms ease;
  -webkit-transition: background-color 400ms ease;
}

.panel-button.search-button {
  font-size: 1.8em;
  border-radius: 30px;
  padding: 8px 20px;
  font-family: 'Heebo', sans-serif !important;
  font-weight: 300 !important;
}

.login-button {
  padding: 10px 30px;
  border-radius: 30px;
}

.panel-button a {
  text-decoration: none;
  color: rgba(255,255,255, 1);
  font-weight: 300 !important;
  transition: color 400ms ease;
  -webkit-transition: color 400ms ease;
}

.login-button a {
  font-size: 1.5em;
  font-weight: 200 !important;
}

.panel-button:hover, .login-button:hover {
  background: rgb(255,255,255);
  cursor: pointer;
}

.panel-button:hover > a, .panel-button:hover {
  color: rgb(0,0,0) !important;
}

.dash-header h1, .dash-header h3 {
  font-weight: 200;
  color: rgb(255,255,255);
}

.dash-header h1 {
  margin-bottom: 0px;
}

.dash-header span {
  font-weight: 300;
  font-size: 1.2em;
  color: rgb(255,255,255);
}

.dash-container {
  margin: 0 50px;
  z-index: 2 !important;
}

.dash-camp, .dash-article, .grid-item {
  overflow: hidden;
}

.dash-camp .inner-img, .dash-article .inner-img, .grid-item .inner-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  transition:  transform 300ms ease-in-out;
  -webkit-transition:  transform 300ms ease-in-out;
}

.inner-img:hover {
  transform: scale(1.1);
}
.dash-camp:hover .camp-panel, .dash-article:hover .article-panel {
  background-color: rgba(20,20,20,0.75);
}

.dash-camp {
  height: 250px;
  max-height: 250px;
}

.dash-article {
  height: 350px;
  max-height: 350px;
}

.camp-title, .article-title {
  font-size: 2em;
  font-weight: 300;
  margin-top: 10px;
}

.article-title {
  width: 80%;
  max-width: 80%;
}

.camp-status {
  font-weight: 300 !important;
}

.camp-desc {
  font-size: 1.2em;
}

.camp-status, .article-date {
  font-weight: 500;
}

.article-desc {
  font-size: 1.3em;
  max-width: 70%;
}

.article-date {
  font-size: 1em;
}

.camp-panel, .article-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  color: rgb(255,255,255);
  background-color: rgba(0,0,0,0.75);
  transition: background-color 300ms ease-in-out;
  -webkit-transition: background-color 300ms ease-in-out;
}


.camp-panel {
  top: -125px;
  height: 125px;
  max-height: 125px;
}

.article-panel {
  top: -175px;
  height: 175px;
  max-height: 175px;
}

.panel-header-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: -10px;
  width: 90%;
}

.panel-header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 20%;
}

.panel-header-desc span {
  margin-left: 20px;
}

.panel-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 20px;
}

.update-grid, .resource-grid {
  overflow-y: auto;
  max-height: 80vh;
}

.fade-cell {
  animation: fadein 400ms;
  -webkit-animation: fadein 400ms;
}


@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.dash-image {
  background: url('/img/levelupcamp-logo.png');
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 2vh;
  left: 2vw;
  width: 25vw;
  height: 25vh;
}

.dash-grid, .mdl-cell {
  z-index: 1;
}
.article-panel button {
  margin: 10px 0;
}

.detail-container {
  color: rgb(255,255,255);
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.detail-header {
  height: auto;
  background-position: center;
  background-size: 150% auto;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  padding: 20px 40px;
  color: rgb(255,255,255);
  animation: headershift 20s ease-in-out infinite;
  -webkit-animation: headershift 20s ease-in-out infinite;
}

.detail-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.detail-titles h1 {
  font-size: 6em;
  font-weight: 200;
}


.detail-info span {
  font-size: 1.6em;
  font-weight: 200;
  margin: 0 40px;
}

.detail-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.detail-tags .mdl-chip {
  margin-right: 10px;
}

.detail-desc, .detail-actions, .detail-requirements {
  margin: 0 40px;
}

.detail-desc h1, .detail-requirements h1 {
  font-weight: 200;
}

.detail-desc h4, .detail-requirements .mdl-grid {
  margin: 0 60px;
}

.detail-requirements, .detail-actions {
  margin-bottom: 50px;
}

.requirement-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.requirement-panel img {
  width: 120px;
  height: auto;
}

.requirement-panel h3 {
  font-weight: 300;
  margin-bottom: 10px;
}

.requirement-panel span {
  font-size: 1.2em;
  font-weight: 200;
}

.detail-desc h4 {
  font-size: 2em;
  line-height: 1.6em;
  font-weight: 200;
}

.article-button {
  padding: 10px 30px;
  border-radius: 30px;
  margin-right: 10px;
}

.article-button a span {
  font-size: 1.4em;
  font-weight: 200 !important;
}

.login-logo img {
  width: 200px;
  height: auto;
}

.searchbar-container form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin: 20px 0;
}

.searchbar-container span, .searchbar-container select {
  margin: 0 20px;
}

.searchbar-container span {
  color: rgb(255,255,255);
  font-size: 2em;
  font-weight: 300;
}

.form-control, select {
  background: rgba(0,0,0,0);
  color: rgb(255,255,255);
  border: 0px;
  font-size: 2em;
  font-family: 'Heebo', sans-serif !important;
  font-weight: 200 !important;
}

.form-control option, option {
  background: rgb(33,17,92);
  color: rgb(255,255,255);
  font-size: 0.8em;
  font-family: 'Heebo', sans-serif !important;
  font-weight: 200 !important;
  text-transform: capitalize;
}


.update-grid::-webkit-scrollbar, .mdl-layout__content.portal-content::-webkit-scrollbar,
.resource-grid::-webkit-scrollbar,
.detail-container::-webkit-scrollbar {
    width: 5px;
}

.update-grid::-webkit-scrollbar-track, .mdl-layout__content.portal-content::-webkit-scrollbar-track,
.resource-grid::-webkit-scrollbar-track,
.detail-container::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

.update-grid::-webkit-scrollbar-thumb, .mdl-layout__content.portal-content::-webkit-scrollbar-thumb,
.resource-grid::-webkit-scrollbar-thumb,
.detail-container::-webkit-scrollbar-thumb {
  background-color: rgb(255,255,255);
  border: 1px solid rgb(10,2,38);
}
