html, body {
  font-family: 'Heebo', sans-serif !important;
  font-weight: 300 !important;
}

.bold {
  font-weight: 700;
}

.med {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.white-hr {
  background: rgb(255,255,255);
  display: block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0;
  margin-right: 0;
  width: 90%;
  border-style: solid;
}

.portal-header header {
  background-image: linear-gradient(to right, rgb(31,30,93), white 40%), url('/img/headerimg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: multiply;
  height: 200px !important;
  padding-top: 70px;
}

.portal-header .header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.portal-header header img.header-img {
  height: 160px;
  width: auto;
}

.header-title {
  margin-left: 50px;
  font-size: 3em;
  font-weight: 200;
}

.header-links a {
  font-weight: 200 !important;
  font-size: 2em !important;
}

.portal-content {
  background: rgb(255,255,255) !important;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20vw;
}

.item-card {
  max-height: 400px;
  transition: height 0s, max-height 600ms ease;
  -webkit-transition: height 0s, max-height 600ms ease;
}

.item-card.toggled{
  max-height: 999px;
}

.card-contents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.info-contents {
  margin-bottom: 25px;
}

.info-contents.disabled {
  visibility: hidden;
  display: none;
}

.info-contents.enabled {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  visibility: visible;
}

.info-section {
  margin: 25px;
}

.info-section h4 {
  font-size: 2em;
}

.info-section p, .req-grid span {
  font-size: 1.1em;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0px 25px;
}

.card-section h3 {
  font-weight: 300 !important;
  font-size: 3em;
}

.card-section p {
  font-weight: 300;
  font-size: 1.1em;
}

.icons-section {
  width: 5vw;
}

.icons-section, .categories-section, .stats-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories-section, .icons-section {
  align-items: center;
}

.categories-section i:first-child {
  padding-top: 20px;
}

.stats-section {
  align-items: flex-start;
}

.stats-section span i, .stats-section #time {
  font-size: 0.8em;
}

.categories-section i, .stats-section span {
  margin: 5px 0px;
}

.categories-section i {
  font-size: 2em
}

.actions-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.actions-section button {
  margin-right: 20px;
}

.actions-section span {
  margin: 0px 5px;
}

.close-button {
  position: absolute !important;
  top: 5px;
  right: 5px;
}

.close-button div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-button, .download-button {
  position: absolute !important;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(255,255,255) !important;
}

.download-button {
  bottom: 20px;
  margin: 0px 25px !important;
}

.more-button i {
  margin: 0px 5px;
}

.wide-card {
  width: 60vw !important;
  color: rgb(255, 255, 255);
}
