<template name="applicationLayout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header portal-header">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
          <div class="header-bar">
            <img src="/img/levelupcamp-logo.png" class="header-img"/>
            <span class="header-title">LevelUp Camp Portal</span>
          </div>
        </span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation header-links">
          {{> loginButtons}}
          <a class="mdl-navigation__link" href="/search">Search</a>
          <a class="mdl-navigation__link" href="/dashboard">Dashboard</a>
        </nav>
      </div>
    </header>
    <main class="mdl-layout__content portal-content">
      <div class="page-content">
        {{> Template.dynamic template=main}}
      </div>
    </main>
  </div>
</template>
