<template name="additem">
  <div class="contributor-container">
    <div class="contributor-header">
      <h1>Add Curriculum Item</h1>
    </div>
    <div class="contributor-grid">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          {{#autoForm collection="CampItems" id="insertCampItemForm" type="insert" class="new-item-form"}}
            <fieldset>
              {{> afQuickField name = 'title'}}
              {{> afQuickField name = 'shortdesc'}}
              {{> afQuickField name = 'desc' rows=5}}
              <div class="fieldset-row">
                <label>Category:</label>{{> afFieldInput name = 'category' type = 'select' options = categoryOptions}}
              </div>
              <div class="fieldset-row">
                <label>Rating:</label>{{> afFieldInput name = 'rating' type = 'select' options = ratingOptions}}
              </div>
            </fieldset>
          {{/autoForm}}
          <button type="submit" class="btn btn-primary">Add Item</button>
        </div>
      </div>
    </div>
  </div>
</template>
