<head>
  <title>LevelUp Camp Curation Portal</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/material.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700">

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.js"
          integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
          crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
          integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/material.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
</head>

<body>
  <template name="layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header portal-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            <div class="header-bar">
              <img src="/img/levelupcamp-logo.png" class="header-img"/>
              <span class="header-title">Dashboard > Camp</span>
            </div>

          </span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation header-links">
            <a class="mdl-navigation__link" href="">Profile</a>
            <a class="mdl-navigation__link" href="">Settings</a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content portal-content">
        <div class="page-content">
          {{> itemcollection}}
        </div>
      </main>
    </div>
  </template>
</body>
