<template name="dashboard">
  <div class="dash-container">
    <div class="dash-image"></div>
    <div class="mdl-grid dash-grid">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-mobile dash-cell">
        <div class="dash-header">
          <h1>Welcome, {{username}}</h1>
          <span>Today is {{currentdate}}</span>
          <h3>Camp Categories</h3>
        </div>
        <div class="mdl-grid mdl-grid--no-spacing">
          {{#each camps}}
            <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-mobile">
              <div class="dash-camp fade-cell">
                <div class="inner-img" style="background-image: url('{{img}}'), linear-gradient(60deg, rgba(37,3,63,0.6), rgba(255,255,255,0.6));">
                </div>
                <div class="camp-panel">
                  <div class="panel-header-desc">
                    <h4 class="camp-title">{{title}}</h4>
                    <span class="camp-status">{{campstatus}}</span>
                  </div>
                  <div class="panel-desc">
                    <span class="camp-desc">{{campdesc}}</span>
                    <button class="panel-button">
                      <a href="/camp/{{campid}}">Go to Camp</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-mobile dash-cell">
        <div class="dash-header">
          <h1>Recent Updates and News</h1><br />
        </div>
        <div class="mdl-grid mdl-grid--no-spacing update-grid">
          {{#each articles}}
            <div class="mdl-cell mdl-cell--12-col">
              <div class="dash-article fade-cell">
                <div class="inner-img" style="background-image: url('{{img}}'), linear-gradient(60deg, rgba(37,3,63,0.6), rgba(255,255,255,0.6));">
                </div>
                <div class="article-panel">
                  <div class="panel-header-desc">
                    <h4 class="article-title">{{title}}</h4>
                    <div class="panel-header-info">
                      <span class="article-author">{{author}}</span>
                      <span class="article-date"> {{date}}</span>
                    </div>
                  </div>
                  <div class="panel-desc">
                    <span class="article-desc">{{articledesc}}</span>
                    <button class="panel-button">
                      <a href="{{source}}">More Info</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
