<template name="detail">
  {{#each campdetail}}
    <div class="detail-container">
      <div class="detail-header" style="background-image: url('{{img}}'), linear-gradient(60deg, rgba(37,3,63,0.6), rgba(0,0,0,0.6));">
        <div class="detail-titles">
          <h1>{{title}}</h1>
          <div class="detail-info">
            <span>{{category}}</span>
            <span>{{rating}}</span>
            <span>{{formatDate date}}</span>
          </div>
        </div>
        <div class="detail-tags">
          {{#each tags}}
            <span class="mdl-chip">
              <span class="mdl-chip__text">{{tag}}</span>
            </span>
          {{/each}}
        </div>
      </div>
      <div class="detail-desc">
        <h1>Description</h1>
        <h4>{{desc}}</h4>
      </div><br />
      <div class="detail-requirements">
        <h1>Requirements</h1>
        <div class="mdl-grid">
          {{#each requirements}}
            <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="requirement-panel fade-cell">
                <img src="{{reqimg}}" />
                <h3>{{reqtitle}}</h3>
                <span>{{reqdesc}}</span>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="detail-actions">
        {{#each actions}}
          <button class="panel-button article-button">
            <a href="#"><span>{{action}}</span></a>
          </button>
        {{/each}}
      </div>
    </div>
  {{/each}}
</template>
