<template name="itemcollection">
  <div class="container">
    <div class="mdl-grid">
      {{#each curationItems}}
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-card mdl-shadow--2dp wide-card item-card" style="background:{{color}};" id="{{id}}">
            <div class="card-contents">
              <div class="card-section">
                <div class="icons-section">
                  <div class="categories-section">
                    {{#each categories}}
                      <i class="material-icons">{{category}}</i>
                    {{/each}}
                  </div>
                  <div class="stats-section">
                    <span id="diffValue" style="display: none;">{{difficulty}}</span>
                    <span id="difficulty"></span>
                    <span class="bold">{{rating}}</span>
                    <span id="time">{{time}}</span>
                  </div>
                </div>
              </div>
              <div class="card-section">
                <h3>{{title}}</h3>
                <p>{{shortdesc}}</p>
                <div class="actions-section">
                  <span id="reqValue" style="display: none;">{{requirements}}</span>
                  <span class="bold">TAGS:</span>
                  {{#each tags}}
                    <span class="mdl-chip">
                        <span class="mdl-chip__text">{{tag}}</span>
                    </span>
                  {{/each}}
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised more-button" onclick="toggleCard({{id}}, this, {{infoId}})">
                    <i class='material-icons'>keyboard_arrow_down</i>More<i class='material-icons'>keyboard_arrow_down</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="info-contents disabled" id="{{infoId}}">
              <hr class="white-hr" />
              <div class="info-section">
                <h4>DESCRIPTION</h4>
                <p class="light">{{description}}</p>
                <h4>REQUIREMENTS</h4>
                <div class="mdl-grid req-grid">
                  {{#each requirements}}
                    <div class="mdl-cell mdl-cell--4-col">
                      <span class="bold">{{reqtitle}}</span><br />
                      <span class="light">{{reqdesc}}</span>
                    </div>
                  {{/each}}
                </div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised download-button">
                  <i class="material-icons">file_download</i>
                  Download
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <script>
    function toggleCard(card, btn, infoContents) {
      card.classList.toggle("toggled");

      var more = "<i class='material-icons'>keyboard_arrow_down</i>More<i class='material-icons'>keyboard_arrow_down</i>";
      var less = "<i class='material-icons'>keyboard_arrow_up</i>Less<i class='material-icons'>keyboard_arrow_up</i>";

      if (btn.innerText == "keyboard_arrow_downMOREkeyboard_arrow_down") {
        infoContents.classList.remove("disabled");
        infoContents.classList.add("enabled");
        btn.innerHTML = less;
      } else {
        infoContents.classList.remove("enabled");
        infoContents.classList.add("disabled");
        btn.innerHTML = more;
      }
    }
  </script>
</template>
