<template name="itemgrid">
  <div class="grid-container">
    <div class="grid-header">
      <h1>Camp Resources</h1>
    </div>
    <div class="mdl-grid mdl-grid--no-spacing resource-grid">
      {{#each campitems}}
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="grid-item fade-cell" style="background-image: url('{{img}}'), linear-gradient(60deg, rgba(37,3,63,0.6), rgba(255,255,255,0.6));">
            <div class="item-panel">
              <div class="panel-headers">
                <h4 class="panel-title">{{title}}</h4>
                <div class="panel-details">
                  <span>{{category}}</span><span>|</span>
                  <span>{{rating}}</span><span>|</span>
                  <span>{{formatShortDate date}}</span>
                </div>
              </div>
              <div class="panel-description">
                <span>{{shortdesc}}</span>
              </div>
              <div class="panel-actions">
                <div class="panel-tags">
                  <span class="tag-title">TAGS:</span>
                  {{#each tags}}
                    <span class="mdl-chip">
                      <span class="mdl-chip__text">{{tag}}</span>
                    </span>
                  {{/each}}
                </div>
                <button class="panel-button">
                  <a href="/detail/{{itemid}}">More Details</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
