<template name="layout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header portal-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
          <div class="header-bar">
            <img src="/img/levelupcamp-logo.png" class="header-img"/>
            <span class="header-title">Dashboard</span>
          </div>

        </span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation header-links">
          <a class="mdl-navigation__link" href="">Profile</a>
          <a class="mdl-navigation__link" href="">Settings</a>
        </nav>
      </div>
    </header>
    <main class="mdl-layout__content portal-content">
      <div class="page-content">
        {{> dashboard}}
      </div>
    </main>
  </div>
</template>
