<template name="login">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">
      <div class="login-box">
        <div class="login-logo">
          <img src="/img/levelupcamp-logo.png" />
        </div><br />
        <div class="mdl-textfield mdl-js-textfield login-field">
          <input class="mdl-textfield__input" type="text" id="username">
          <label class="mdl-textfield__label" for="username">Username</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield login-field">
          <input class="mdl-textfield__input" type="text" id="password">
          <label class="mdl-textfield__label" for="password">Password</label>
        </div><br />
        <button class="panel-button login-button">
          <a href="/dashboard">Log In</a>
        </button><br />
        <button class="panel-button login-button">
          <a href="/register">Register</a>
        </button><br />
      </div>
    </div>
  </div>
</template>
